![Fortune 500 Global Companies](https://s3.amazonaws.com/dq-content/291/fortune-500.jpg)

# Fortune 500 Companies 2017

## Description

**[Fortune 500 company list](https://fortune.com/fortune500/)** is a compilation of the largest companies in the United States as published by **[Fortune Magazine](https://fortune.com/)**

## Data set

The data set is a CSV file called `f500.csv`. Here is a data dictionary for some of the columns in the CSV:

* **`company`:** Name of the company.
* **`rank`:** Global 500 rank for the company.
* **`revenues`:** Company's total revenue for the fiscal year, in millions of dollars (USD).
* **`revenue_change`:** Percentage change in revenue between the current and prior fiscal year.
* **`profits`:** Net income for the fiscal year, in millions of dollars (USD).
* **`ceo`:** Company's Chief Executive Officer.
* **`industry`:** Industry in which the company operates.
* **`sector`:** Sector in which the company operates.
* **`previous_rank`:** Global 500 rank for the company for the prior year.
* **`country`:** Country in which the company is headquartered.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
f500 = pd.read_csv('../data/f500.csv', index_col=0)
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [6]:
f500.tail()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [8]:
f500.dtypes

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

information about the `f500.csv`

In [9]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [11]:
f500.describe().T

,count,mean,std,min,25%,50%,75%,max
rank,500.0,250.500000,144.481833,1.0,125.750,250.50,375.250,500.0
revenues,500.0,55416.358000,45725.478963,21609.0,29003.000,40236.00,63926.750,485873.0
revenue_change,498.0,4.538353,28.549067,-67.3,-5.900,0.55,6.975,442.3
profits,499.0,3055.203206,5171.981071,-13038.0,556.950,1761.60,3954.000,45687.0
assets,500.0,243632.274000,485193.716285,3717.0,36588.500,73261.50,180564.000,3473238.0
profit_change,436.0,24.152752,437.509566,-793.7,-22.775,-0.35,17.700,8909.5
previous_rank,500.0,222.134000,146.941961,0.0,92.750,219.50,347.250,500.0
years_on_global_500_list,500.0,15.036000,7.932752,1.0,7.000,17.00,23.000,23.0
employees,500.0,133998.316000,170087.825705,328.0,42932.500,92910.50,168917.250,2300000.0
total_stockholder_equity,500.0,30628.076000,43642.576833,-59909.0,7553.750,15809.50,37828.500,301893.0

## Types of Industries

Below are the types of countries selected for the Fortune 500 and their total counts.

In [13]:
f500['industry'].value_counts()

Banks: Commercial and Savings                     51
Motor Vehicles and Parts                          34
Petroleum Refining                                28
Insurance: Life, Health (stock)                   24
Food and Drug Stores                              20
Mining, Crude-Oil Production                      18
Insurance: Property and Casualty (Stock)          18
Utilities                                         18
Telecommunications                                18
Trading                                           15
Pharmaceuticals                                   15
Aerospace and Defense                             14
Engineering, Construction                         13
Electronics, Electrical Equip.                    13
Metals                                            12
Energy                                            12
Specialty Retailers                               10
Industrial Machinery                              10
Insurance: Life, Health (Mutual)                   9
Diversified Financials                             8
Airlines                                           8
Computers, Office Equipment                        8
Food Production                                    7
General Merchandisers                              7
Chemicals                                          7
Wholesalers: Health Care                           6
Mail, Package, and Freight Delivery                6
Real estate                                        6
Health Care: Insurance and Managed Care            6
Internet Services and Retailing                    6
Semiconductors and Other Electronic Components     5
Food Consumer Products                             5
Information Technology Services                    5
Network and Other Communications Equipment         4
Building Materials, Glass                          4
Computer Software                                  3
Beverages                                          3
Household and Personal Products                    3
Food Services                                      3
Pipelines                                          3
Entertainment                                      3
Railroads                                          3
Wholesalers: Electronics and Office Equipment      3
Wholesalers: Food and Grocery                      3
Shipping                                           2
Health Care: Pharmacy and Other Services           2
Insurance: Property and Casualty (Mutual)          2
Health Care: Medical Facilities                    2
Medical Products and Equipment                     2
Apparel                                            2
Temporary Help                                     2
Construction and Farm Machinery                    2
Textiles                                           2
Miscellaneous                                      1
Tobacco                                            1
Travel Services                                    1
Oil & Gas Equipment Services                       1
Wholesalers: Diversified                           1
Name: industry, dtype: int64

## Unique Countries from where the industries are located

Below are the countries and the number of companies in each country

In [14]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Australia         7
Brazil            7
India             7
Italy             7
Taiwan            6
Russia            4
Ireland           4
Sweden            3
Singapore         3
Mexico            2
Norway            1
Denmark           1
Venezuela         1
Indonesia         1
Thailand          1
Saudi Arabia      1
Belgium           1
Finland           1
Turkey            1
U.A.E             1
Luxembourg        1
Israel            1
Malaysia          1
Name: country, dtype: int64

## Unique Companies Sector

In [15]:
f500['sector'].value_counts()

Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Materials                         16
Food, Beverages & Tobacco         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Media                              3
Business Services                  3
Hotels, Restaurants & Leisure      3
Household Products                 3
Apparel                            2
Name: sector, dtype: int64

## HQ Location

In [16]:
f500['hq_location'].value_counts()

Beijing, China              56
Tokyo, Japan                36
Paris, France               17
New York, NY                15
London, Britain             14
Seoul, South Korea          12
Shanghai, China              8
Osaka, Japan                 7
Zurich, Switzerland          7
Toronto, Ontario, Canada     7
Shenzhen, China              6
Hong Kong, China             6
Houston, TX                  5
Madrid, Spain                5
Amsterdam, Netherlands       5
Mumbai, India                5
Munich, Germany              4
Atlanta, GA                  4
Moscow, Russia               4
Chicago, IL                  4
Taipei, Taiwan               3
Courbevoie, France           3
Singapore                    3
Hanover, Germany             3
Sao Paulo, Brazil            3
Dublin, Ireland              3
Cincinnati, OH               3
Essen, Germany               3
Guangzhou, China             3
Hangzhou, China              3
                            ..
Kuala Lumpur, Malaysia       1
Taiyuan, China               1
Glattbrugg, Switzerland      1
Philadelphia, PA             1
Newbury, Britain             1
Richfield, MN                1
Goteborg, Sweden             1
Zeist, Netherlands           1
Brasilia, Brazil             1
Omaha, NE                    1
Boise, ID                    1
Changchun, China             1
Goodlettsville, TN           1
Phoenix, AZ                  1
Petach Tikva, Israel         1
Nashville, TN                1
Taoyuan, Taiwan              1
Leverkusen, Germany          1
New Taipei City, Taiwan      1
Edinburgh, Britain           1
Chiba, Japan                 1
Diemen, Netherlands          1
Hartford, CT                 1
Berlin, Germany              1
Wilmington, DE               1
Camp Hill, PA                1
Shandong, China              1
Santa Clara, CA              1
Dearborn, MI                 1
Bella Vista, Australia       1
Name: hq_location, Length: 235, dtype: int64

## rank change
to check the change from the previous rank to the current rank. `f500` dataframe includes each company's current and previous year's rank on the Fortune 500 list

In [17]:
rank_change = f500['previous_rank'] - f500['rank']
rank_change

company
Walmart                                           0
State Grid                                        0
Sinopec Group                                     1
China National Petroleum                         -1
Toyota Motor                                      3
Volkswagen                                        1
Royal Dutch Shell                                -2
Berkshire Hathaway                                3
Apple                                             0
Exxon Mobil                                      -4
McKesson                                          1
BP                                               -2
UnitedHealth Group                                4
CVS Health                                        4
Samsung Electronics                              -2
Glencore                                         -2
Daimler                                          -1
General Motors                                    2
AT&T                                              4
EXOR Group                                       -1
Ford Motor                                        0
Industrial & Commercial Bank of China            -7
AmerisourceBergen                                 5
China State Construction Engineering              3
AXA                                               8
Amazon.com                                       18
Hon Hai Precision Industry                       -2
China Construction Bank                          -6
Honda Motor                                       7
Total                                            -6
                                               ...
Amgen                                            16
Rabobank Group                                  -27
Altice                                         -473
Onex                                              9
US Foods Holding                                -14
Shanxi Jincheng Anthracite Coal Mining Group    -92
Randstad Holding                                 17
Tencent Holdings                               -478
LG Display                                      -50
Emirates Group                                   -8
U.S. Bancorp                                      9
H & M Hennes & Mauritz                            6
Aflac                                          -483
Sodexo                                          -18
Suning Commerce Group                          -485
GS Caltex                                       -55
Ultrapar Holdings                               -13
Xiamen C&D                                     -488
Sears Holdings                                  -64
China General Technology                       -107
National Grid                                   -20
Dollar General                                 -492
Telecom Italia                                  -89
Xiamen ITG Holding Group                       -494
Xinjiang Guanghui Industry Investment          -495
Teva Pharmaceutical Industries                 -496
New China Life Insurance                        -70
Wm. Morrison Supermarkets                       -61
TUI                                             -32
AutoNation                                     -500
Length: 500, dtype: int64

We can observe from the results that `Sinopec Group` and `Toyota Motor` each increased in rank from the previous year, while China National Petroleum dropped a spot. what if we wanted to find the biggest increase or decrease in rank?

In [18]:
rank_change.max()

226

In [21]:
f500[['country', 'industry', 'sector']].describe()

       country                       industry      sector
count      500                            500         500
unique      34                             58          21
top        USA  Banks: Commercial and Savings  Financials
freq       132                             51         118

**Findings:**

* `34`Countries, `58` industries, `21` sectors were featured in the 2017 Fortune 500.
* The `USA` is the country that headquarters the most Fortune 500 companies, with exactly `132` companies being featured. `Banks: Commercial and Savings` are the industry that were featured most in the Fortune 500 companies, `51` being featured. `Finacial` sector were featured most, `118` being featured.