![Fortune 500 Global Companies](https://s3.amazonaws.com/dq-content/291/fortune-500.jpg)

# Fortune 500 Companies 2017

## Description

**[Fortune 500 company list](https://fortune.com/fortune500/)** is a compilation of the largest companies in the United States as published by **[Fortune Magazine](https://fortune.com/)**

## Data set

The data set is a CSV file called `f500.csv`. Here is a data dictionary for some of the columns in the CSV:

* **`company`:** Name of the company.
* **`rank`:** Global 500 rank for the company.
* **`revenues`:** Company's total revenue for the fiscal year, in millions of dollars (USD).
* **`revenue_change`:** Percentage change in revenue between the current and prior fiscal year.
* **`profits`:** Net income for the fiscal year, in millions of dollars (USD).
* **`ceo`:** Company's Chief Executive Officer.
* **`industry`:** Industry in which the company operates.
* **`sector`:** Sector in which the company operates.
* **`previous_rank`:** Global 500 rank for the company for the prior year.
* **`country`:** Country in which the company is headquartered.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
f500 = pd.read_csv('../data/f500.csv', index_col=0)
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [3]:
f500.tail()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
f500.dtypes

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

information about the `f500.csv`

In [5]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [6]:
f500.describe().T

,count,mean,std,min,25%,50%,75%,max
rank,500.0,250.500000,144.481833,1.0,125.750,250.50,375.250,500.0
revenues,500.0,55416.358000,45725.478963,21609.0,29003.000,40236.00,63926.750,485873.0
revenue_change,498.0,4.538353,28.549067,-67.3,-5.900,0.55,6.975,442.3
profits,499.0,3055.203206,5171.981071,-13038.0,556.950,1761.60,3954.000,45687.0
assets,500.0,243632.274000,485193.716285,3717.0,36588.500,73261.50,180564.000,3473238.0
profit_change,436.0,24.152752,437.509566,-793.7,-22.775,-0.35,17.700,8909.5
previous_rank,500.0,222.134000,146.941961,0.0,92.750,219.50,347.250,500.0
years_on_global_500_list,500.0,15.036000,7.932752,1.0,7.000,17.00,23.000,23.0
employees,500.0,133998.316000,170087.825705,328.0,42932.500,92910.50,168917.250,2300000.0
total_stockholder_equity,500.0,30628.076000,43642.576833,-59909.0,7553.750,15809.50,37828.500,301893.0

## Types of Industries

Below are the types of countries selected for the Fortune 500 and their total counts.

In [7]:
f500['industry'].value_counts()

Banks: Commercial and Savings                     51
Motor Vehicles and Parts                          34
Petroleum Refining                                28
Insurance: Life, Health (stock)                   24
Food and Drug Stores                              20
Mining, Crude-Oil Production                      18
Insurance: Property and Casualty (Stock)          18
Utilities                                         18
Telecommunications                                18
Trading                                           15
Pharmaceuticals                                   15
Aerospace and Defense                             14
Engineering, Construction                         13
Electronics, Electrical Equip.                    13
Metals                                            12
Energy                                            12
Industrial Machinery                              10
Specialty Retailers                               10
Insurance: Life, Health (Mutual)                   9
Computers, Office Equipment                        8
Airlines                                           8
Diversified Financials                             8
General Merchandisers                              7
Food Production                                    7
Chemicals                                          7
Health Care: Insurance and Managed Care            6
Wholesalers: Health Care                           6
Mail, Package, and Freight Delivery                6
Internet Services and Retailing                    6
Real estate                                        6
Information Technology Services                    5
Semiconductors and Other Electronic Components     5
Food Consumer Products                             5
Network and Other Communications Equipment         4
Building Materials, Glass                          4
Beverages                                          3
Food Services                                      3
Entertainment                                      3
Household and Personal Products                    3
Railroads                                          3
Wholesalers: Food and Grocery                      3
Computer Software                                  3
Wholesalers: Electronics and Office Equipment      3
Pipelines                                          3
Apparel                                            2
Medical Products and Equipment                     2
Health Care: Medical Facilities                    2
Textiles                                           2
Construction and Farm Machinery                    2
Insurance: Property and Casualty (Mutual)          2
Shipping                                           2
Temporary Help                                     2
Health Care: Pharmacy and Other Services           2
Miscellaneous                                      1
Tobacco                                            1
Wholesalers: Diversified                           1
Travel Services                                    1
Oil & Gas Equipment Services                       1
Name: industry, dtype: int64

## Unique Countries from where the industries are located

Below are the countries and the number of companies in each country

In [8]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Australia         7
Italy             7
Brazil            7
India             7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
Belgium           1
U.A.E             1
Thailand          1
Norway            1
Turkey            1
Israel            1
Venezuela         1
Indonesia         1
Finland           1
Saudi Arabia      1
Denmark           1
Malaysia          1
Luxembourg        1
Name: country, dtype: int64

## Unique Companies Sector

In [9]:
f500['sector'].value_counts()

Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Materials                         16
Food, Beverages & Tobacco         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Media                              3
Business Services                  3
Household Products                 3
Hotels, Restaurants & Leisure      3
Apparel                            2
Name: sector, dtype: int64

## HQ Location

In [10]:
f500['hq_location'].value_counts()

Beijing, China              56
Tokyo, Japan                36
Paris, France               17
New York, NY                15
London, Britain             14
Seoul, South Korea          12
Shanghai, China              8
Osaka, Japan                 7
Toronto, Ontario, Canada     7
Zurich, Switzerland          7
Hong Kong, China             6
Shenzhen, China              6
Amsterdam, Netherlands       5
Mumbai, India                5
Madrid, Spain                5
Houston, TX                  5
Atlanta, GA                  4
Munich, Germany              4
Moscow, Russia               4
Chicago, IL                  4
Basel, Switzerland           3
Guangzhou, China             3
Taipei, Taiwan               3
Essen, Germany               3
Dublin, Ireland              3
Hangzhou, China              3
Courbevoie, France           3
Singapore                    3
Sao Paulo, Brazil            3
Rome, Italy                  3
                            ..
Philadelphia, PA             1
Wuhan, China                 1
Hoffman Estates, IL          1
Baar, Switzerland            1
Yokohama, Japan              1
Vevey, Switzerland           1
Taoyuan, Taiwan              1
Northbrook, IL               1
Espoo, Finland               1
Toyota, Japan                1
Richfield, MN                1
Copenhagen, Denmark          1
Hanau, Germany               1
Miami, FL                    1
New Taipei City, Taiwan      1
Shandong, China              1
Mountain View, CA            1
Rosemont, IL                 1
Guixi, China                 1
Suwon, South Korea           1
Detroit, MI                  1
Milwaukee, WI                1
Ulsan, South Korea           1
Bella Vista, Australia       1
Nagoya, Japan                1
Kenilworth, NJ               1
Dublin, OH                   1
Cupertino, CA                1
Armonk, NY                   1
St. Denis, France            1
Name: hq_location, Length: 235, dtype: int64

## rank change
to check the change from the previous rank to the current rank. `f500` dataframe includes each company's current and previous year's rank on the Fortune 500 list

In [11]:
rank_change = f500['previous_rank'] - f500['rank']
rank_change

company
Walmart                                           0
State Grid                                        0
Sinopec Group                                     1
China National Petroleum                         -1
Toyota Motor                                      3
Volkswagen                                        1
Royal Dutch Shell                                -2
Berkshire Hathaway                                3
Apple                                             0
Exxon Mobil                                      -4
McKesson                                          1
BP                                               -2
UnitedHealth Group                                4
CVS Health                                        4
Samsung Electronics                              -2
Glencore                                         -2
Daimler                                          -1
General Motors                                    2
AT&T                                              4
EXOR Group                                       -1
Ford Motor                                        0
Industrial & Commercial Bank of China            -7
AmerisourceBergen                                 5
China State Construction Engineering              3
AXA                                               8
Amazon.com                                       18
Hon Hai Precision Industry                       -2
China Construction Bank                          -6
Honda Motor                                       7
Total                                            -6
                                               ...
Amgen                                            16
Rabobank Group                                  -27
Altice                                         -473
Onex                                              9
US Foods Holding                                -14
Shanxi Jincheng Anthracite Coal Mining Group    -92
Randstad Holding                                 17
Tencent Holdings                               -478
LG Display                                      -50
Emirates Group                                   -8
U.S. Bancorp                                      9
H & M Hennes & Mauritz                            6
Aflac                                          -483
Sodexo                                          -18
Suning Commerce Group                          -485
GS Caltex                                       -55
Ultrapar Holdings                               -13
Xiamen C&D                                     -488
Sears Holdings                                  -64
China General Technology                       -107
National Grid                                   -20
Dollar General                                 -492
Telecom Italia                                  -89
Xiamen ITG Holding Group                       -494
Xinjiang Guanghui Industry Investment          -495
Teva Pharmaceutical Industries                 -496
New China Life Insurance                        -70
Wm. Morrison Supermarkets                       -61
TUI                                             -32
AutoNation                                     -500
Length: 500, dtype: int64

We can observe from the results that `Sinopec Group` and `Toyota Motor` each increased in rank from the previous year, while China National Petroleum dropped a spot. what if we wanted to find the biggest increase or decrease in rank?

In [12]:
rank_change.max()

226

In [13]:
f500[['country', 'industry', 'sector']].describe()

       country                       industry      sector
count      500                            500         500
unique      34                             58          21
top        USA  Banks: Commercial and Savings  Financials
freq       132                             51         118

**Findings:**

* `34`Countries, `58` industries, `21` sectors were featured in the 2017 Fortune 500.
* The `USA` is the country that headquarters the most Fortune 500 companies, with exactly `132` companies being featured. `Banks: Commercial and Savings` are the industry that were featured most in the Fortune 500 companies, `51` being featured. `Finacial` sector were featured most, `118` being featured.

## Previous Rank

In [14]:
f500['previous_rank'].value_counts()[0]

33

we confirmed that `33` companies in the `f500` dataframe have a value of `0` in the previous_rank column. Given that multiple companies have a `0` rank, we might conclude that these companies didn't have a rank at all for the previous year. It would make more sense for us to replace these values with a null value instead.

In [15]:
f500.describe(include=['O'])

,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500
unique,500,58,21,34,235,500
top,Hubert B. Joly,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.delltechnologies.com
freq,1,51,118,132,56,1

The company `"Dow Chemical"` has named a new CEO. An update to the value where the row label is `Dow Chemical` and for the ceo column to `Jim Fitterling` in the `f500` dataframe need to be done.

In [16]:
f500.loc['Dow Chemical', 'ceo']='Jim Fitterling'
f500.loc['Dow Chemical', 'ceo']

'Jim Fitterling'

## Motor Countries
The following are countries that have Motor Vehicles and Parts and were selected for the `f500-2017`

In [17]:
f500.loc[f500['industry']=='Motor Vehicles and Parts', 'country']

company
Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

## Fixing the `0`'s in the `previous_rank`

In [18]:
f500.loc[f500['previous_rank']==0, 'previous_rank']=np.nan

In [19]:
f500['previous_rank'].value_counts(dropna=False).head()

NaN       33
 471.0     1
 234.0     1
 125.0     1
 166.0     1
Name: previous_rank, dtype: int64

## Rank Change

In [20]:
f500['rank_change']=f500['previous_rank']-f500['rank']
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
company,,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

In [21]:
f500['rank_change'].describe()

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

## Top Two `industry` in the `USA`
The two most common values in the `industry` column for companies headquartered in the `USA` are

In [24]:
f500.loc[f500['country']=='USA', 'industry'].value_counts().head(2)

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

## Common Sectors in China

In [25]:
f500.loc[f500['country']=='China', 'sector'].value_counts().head(3)

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64

## Companies not in the previous rank
33 companies were not included in the previous rank. they are listed below.

In [27]:
f500[['rank', 'industry', 'sector', 'hq_location', 'website']][f500['previous_rank'].isnull()]

,rank,industry,sector,hq_location,website
company,,,,,
Legal & General Group,49,"Insurance: Life, Health (stock)",Financials,"London, Britain",http://www.legalandgeneralgroup.com
Uniper,91,Energy,Energy,"Dusseldorf, Germany",http://www.uniper.energy
Dell Technologies,124,"Computers, Office Equipment",Technology,"Round Rock, TX",http://www.delltechnologies.com
Anbang Insurance Group,139,"Insurance: Life, Health (Mutual)",Financials,"Beijing, China",http://www.anbanggroup.com
Albertsons Cos.,141,Food and Drug Stores,Food & Drug Stores,"Boise, ID",http://www.albertsons.com
Hewlett Packard Enterprise,181,Information Technology Services,Technology,"Palo Alto, CA",http://www.hpe.com
Hengli Group,268,Textiles,Industrials,"Suzhou City, China",http://www.hengli.com
Johnson Controls International,272,Industrial Machinery,Industrials,"Cork, Ireland",http://www.johnsoncontrols.com
Chubb,342,Insurance: Property and Casualty (Stock),Financials,"Zurich, Switzerland",http://www.chubb.com
Charter Communications,376,Telecommunications,Telecommunications,"Stamford, CT",http://www.charter.com
Medtronic,377,Medical Products and Equipment,Health Care,"Dublin, Ireland",http://www.medtronic.com
Facebook,393,Internet Services and Retailing,Technology,"Menlo Park, CA",http://www.facebook.com
Kraft Heinz,410,Food Consumer Products,"Food, Beverages & Tobacco","Pittsburgh, PA",http://www.kraftheinzcompany.com
Nokia,415,Network and Other Communications Equipment,Technology,"Espoo, Finland",http://www.nokia.com
Standard Life,432,Diversified Financials,Financials,"Edinburgh, Britain",http://www.standardlife.com
Brookfield Asset Management,441,Diversified Financials,Financials,"Toronto, Ontario, Canada",http://www.brookfield.com
Mercantil Servicios Financieros,442,Banks: Commercial and Savings,Financials,"Caracas, Venezuela",http://www.msf.com
Samsung C&T,447,"Engineering, Construction",Engineering & Construction,"Seoul, South Korea",http://www.samsungcnt.com
Heraeus Holding,457,Metals,Materials,"Hanau, Germany",http://www.heraeus.com
Yango Financial Holding,459,Diversified Financials,Financials,"Fuzhou, China",http://www.yangofinance.com
Alibaba Group Holding,462,Internet Services and Retailing,Technology,"Hangzhou, China",http://www.alibabagroup.com
Progressive,464,Insurance: Property and Casualty (Stock),Financials,"Mayfield Village, OH",http://www.progressive.com
Country Garden Holdings,467,Real estate,Financials,"Foshan, China",http://www.countrygarden.com.cn
Altice,473,Telecommunications,Telecommunications,"Amsterdam, Netherlands",http://www.altice.net
Tencent Holdings,478,Internet Services and Retailing,Technology,"Shenzhen, China",http://www.tencent.com
Aflac,483,"Insurance: Life, Health (stock)",Financials,"Columbus, GA",http://www.aflac.com
Suning Commerce Group,485,Specialty Retailers,Retailing,"Nanjing, China",http://www.suning.com
Xiamen C&D,488,Trading,Wholesalers,"Xiamen, China",http://www.chinacdc.com
Dollar General,492,Specialty Retailers,Retailing,"Goodlettsville, TN",http://www.dollargeneral.com
Xiamen ITG Holding Group,494,Trading,Wholesalers,"Xiamen, China",http://www.itgholding.com.cn
Xinjiang Guanghui Industry Investment,495,Trading,Wholesalers,"Urumqi, China",http://www.guanghui.com
Teva Pharmaceutical Industries,496,Pharmaceuticals,Health Care,"Petach Tikva, Israel",http://www.tevapharm.com
AutoNation,500,Specialty Retailers,Retailing,"Fort Lauderdale, FL",http://www.autonation.com

## Big revenues with less profits

In [28]:
f500[(f500['revenues']>100000)&(f500['profits']<0)]

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
company,,,,,,,,,,,,,,,,,
Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532,4.0
Chevron,45,107567,-18.0,-497.0,260078,-110.8,John S. Watson,Petroleum Refining,Energy,31.0,USA,"San Ramon, CA",http://www.chevron.com,23,55200,145556,-14.0

## Technology Companies outside USA

In [29]:
f500[(f500['country']!='USA')&(f500['sector']=='Technology')]

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
company,,,,,,,,,,,,,,,,,
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46.0
Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0
Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109,18.0
Amer International Group,183,49677,3.9,1199.9,18405,5.2,Wang Wenyin,"Electronics, Electrical Equip.",Technology,190.0,China,"Shenzhen, China",http://www.amer.com.cn,5,17852,10005,7.0
LG Electronics,201,47712,-4.6,66.2,31348,-39.8,Seong-Jin Jo,"Electronics, Electrical Equip.",Technology,180.0,South Korea,"Seoul, South Korea",http://www.lg.com,17,75000,9926,-21.0
Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202.0,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224,-24.0
Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910,11.0
JD.com,261,39155,35.7,-573.0,23077,NaN,Richard Qiangdong Liu,Internet Services and Retailing,Technology,366.0,China,"Beijing, China",http://www.jd.com,2,120622,4877,105.0
Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307,14.0
Pegatron,296,35891,-6.1,599.6,13776,-20.1,Syh-Jang Liao,"Computers, Office Equipment",Technology,259.0,Taiwan,"Taipei, Taiwan",http://www.pegatroncorp.com,5,196251,4601,-37.0
Accenture,305,34798,5.7,4111.9,20609,34.7,Pierre Nanterme,Information Technology Services,Technology,312.0,Ireland,"Dublin, Ireland",http://www.accenture.com,16,384000,7555,7.0
Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865,-15.0
China Electronics,362,30010,-4.8,321.9,36575,82.6,Rui Xiaowu,"Electronics, Electrical Equip.",Technology,329.0,China,"Beijing, China",http://www.cec.com.cn,7,144659,4831,-33.0
Taiwan Semiconductor Manufacturing,369,29388,10.6,10283.7,58535,7.8,Mark Liu,Semiconductors and Other Electronic Components,Technology,403.0,Taiwan,"Hsinchu, Taiwan",http://www.tsmc.com,3,46968,42174,34.0
Quanta Computer,390,27715,-12.7,469.3,18229,-16.4,Barry Lam,"Computers, Office Equipment",Technology,326.0,Taiwan,"Taoyuan, Taiwan",http://www.quantatw.com,12,92698,4123,-64.0
Schneider Electric,399,27307,-7.6,1935.2,44137,24.0,Jean-Pascal Tricoire,"Electronics, Electrical Equip.",Technology,354.0,France,"Rueil-Malmaison, France",http://www.schneider-electric.com,16,143901,21614,-45.0
Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,NaN,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192,NaN
LM Ericsson,419,26004,-11.2,200.5,31199,-87.5,Borje Ekholm,Network and Other Communications Equipment,Technology,357.0,Sweden,"Stockholm, Sweden",http://www.ericsson.com,23,111464,15395,-62.0
NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668,15.0
SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462.0,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817,19.0
Midea Group,450,24060,8.5,2210.4,24549,9.3,Fang Hongbo,"Electronics, Electrical Equip.",Technology,481.0,China,"Foshan, China",http://www.midea.com,2,126418,8796,31.0
Flex,455,23863,-2.3,319.6,12593,-28.0,Michael M. McNamara,Semiconductors and Other Electronic Components,Technology,441.0,Singapore,Singapore,http://www.flex.com,17,200000,2645,-14.0
Compal Electronics,458,23773,-10.9,252.1,10769,-7.9,Jui-Tsung Chen,"Computers, Office Equipment",Technology,400.0,Taiwan,"Taipei, Taiwan",http://www.compal.com,6,64728,3283,-58.0
Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,NaN,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454,NaN
Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483.0,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490,9.0
Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128,NaN
LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429.0,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729,-50.0

## Top Employers per country

In [35]:
top_employer_per_country = {}
countries = f500['country'].unique()
for country in countries:
    top_employer_per_country[country]=f500[f500['country']==country].sort_values('employees').iloc[0,0]
top_employer_per_country

{'USA': 402,
 'China': 205,
 'Japan': 423,
 'Germany': 457,
 'Netherlands': 374,
 'Britain': 432,
 'South Korea': 486,
 'Switzerland': 220,
 'France': 200,
 'Taiwan': 411,
 'Singapore': 54,
 'Italy': 132,
 'Russia': 102,
 'Spain': 417,
 'Brazil': 487,
 'Mexico': 152,
 'Luxembourg': 156,
 'India': 295,
 'Malaysia': 184,
 'Thailand': 192,
 'Australia': 350,
 'Belgium': 206,
 'Norway': 207,
 'Canada': 416,
 'Ireland': 363,
 'Indonesia': 289,
 'Denmark': 298,
 'Saudi Arabia': 299,
 'Sweden': 301,
 'Finland': 415,
 'Venezuela': 442,
 'Turkey': 463,
 'U.A.E': 480,
 'Israel': 496}